<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>another about page</title>
    </head>
    <body>
        {{> header}}
        <h2>{{screamIt welcome}}</h2>
        <p>some about u can get here</p>



        {{> footer}}
    </body>
</html>