<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>another about page</title>
    </head>
    <body>
        {{> header}}
        <h2>{{screamIt "user accounts"}}</h2>
        <p>add your portfolio here</p>



        {{> footer}}
    </body>
</html>